* {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 0;
  font-weight: 400;
  color: white;
}

body,
html {
  overflow-x: hidden !important;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

:root {
  --main-color: #6a6f7c;
  --hover-color: #d0d7e3;
  --main-border: 1px solid #191c28;
  --main-bg: #191c28;
  --base-bg: #1e2331;
  --light-bg: #242a3b;
  --accent: #1e2331;
  --accent-light: #242a3b;
  --scpc: var(--hover-color);
  --color-1: var(--hover-color);
}

::selection {
  background-color: var(--light-bg);
  color: white;
}

#portfolio-design {
  display: none;
}

/*Header*/
.header {
  background: radial-gradient(var(--light-bg) 1px, transparent 0),
    radial-gradient(var(--light-bg) 1px, transparent 0),
    linear-gradient(180deg, var(--light-bg) 0%, var(--main-bg) 100%);
  background-size: 40px 40px, 40px 40px, 100%, 100%;
  background-position: 0 0, 20px 20px, center;

  background-color: var(--accent);
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 1.5px,
      transparent 0
    ),
    radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  display: flex;
  z-index: 0;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.make-navbar-bg {
  background-color: var(--base-bg);
  -webkit-box-shadow: 0 20px 25px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 25px -6px rgba(0, 0, 0, 0.3);
}

.deform {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.deform-one {
  background: linear-gradient(68deg, var(--accent-light) 2%, transparent 60%);
  width: 100%;
  height: 60%;
  display: flex;
  border-bottom-left-radius: 12%;
  transform: rotate(-22deg) translateY(-100%);
  position: relative;
  margin-bottom: 20%;
  right: -20%;
  margin: 0;
  padding: 0;
}

.deform-two {
  background: linear-gradient(150deg, transparent 0%, var(--accent-light) 100%);
  width: 100%;
  height: 40%;
  transform: rotate(-42deg) translate(40%, 50%) scale(1.8);
  position: relative;
  margin: 0;
  padding: 0;
}

.header a {
  display: inline;
  text-decoration: none;
}
.header button {
  outline: none;
}
.navbar a {
  font-weight: 400;
  color: white;
  margin: 10px 10px;
}

/* profile */

p {
  color: white;
}
.name {
  font-size: 30px;
  font-weight: 700;
}

.profession {
  font-size: 20px;
  font-weight: 300;
}
#spin {
  color: white;
  font-size: 16px;
}

#spin:after {
  content: "";
  animation: spin 20s linear infinite;
}
@keyframes spin {
  0% {
    content: "Bonjour,";
  }

  10% {
    content: "Hi,";
  }

  20% {
    content: " नमस्ते ,";
  }

  30% {
    content: "Hola,";
  }

  40% {
    content: "你好,";
  }

  50% {
    content: "Здравей,";
  }

  60% {
    content: "Привет,";
  }

  70% {
    content: "Ciao,";
  }

  80% {
    content: "こんにちは,";
  }

  90% {
    content: "Oi,";
  }
  100% {
    content: "سلام";
  }
}

.socials {
  width: 55%;
  height: auto;
  margin: 0 auto;
  background: var(--main-bg);
  border-radius: 5px;
  margin-bottom: 1rem;
  z-index: 2;
  border-radius: 5px;
  -webkit-box-shadow: 0 80px 100px -24px rgba(0, 0, 0, 0.45);
  box-shadow: 0 80px 100px -24px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.socials::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 40px;
  position: absolute;
  top: 26px;
  left: 30px;
  background: #ff5f56;
  box-shadow: 16px 0px 0px #ffbd2e, 32px 0px 0px #27c93f;
}

.socials i {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.socials .icon-social {
  padding: 30px;
  border-radius: 5px;
}

.socials .icon-social:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.about {
  background-color: var(--main-bg);
  height: auto;
  width: 100%;
  z-index: 1;
}
.about:before {
  display: flex;
  content: "";
  position: absolute;
  width: 45%;
  height: 12rem;
  background-image: radial-gradient(var(--hover-color) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0;
  opacity: 0.08;
  z-index: 1;
}

.about h1 {
  color: white;
  text-decoration: underline;
  font-weight: 700;
  font-size: 50px;
}
.about p {
  text-align: justify;
  padding: 20px;
  font-weight: 200;
  font-size: 16px;
}

.about h1:before {
  content: "";
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  top: -5px;
  left: 30%;
  background: #ff5f56;
}
.about .about-contact i,
.about .about-contact p {
  font-weight: 200;
  font-size: 13px;
}

.about .about-contact i {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 5px;
}
.about-section {
  background: var(--main-bg);
  border-radius: 5px;
  margin-bottom: 1rem;
  z-index: 2;
  border-radius: 5px;
  -webkit-box-shadow: 0 80px 100px -24px rgba(0, 0, 0, 0.45);
  box-shadow: 0 80px 100px -24px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills {
  background-color: var(--light-bg);
  height: auto;
  width: 100%;
  z-index: 1;
}
.skills h3 {
  color: white;
  text-decoration: underline;
  font-weight: 700;
  font-size: 50px;
}
.skills li {
  text-align: justify;
  font-weight: 200;
  font-size: 16px;
}
.skills-cat-name {
  font-weight: 500;
  font-size: 16px;
}
.resume {
  background-color: var(--light-bg);
  height: auto;
  width: 100%;
  z-index: 1;
  padding-bottom: 30px;
}

.arrow-link {
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  color: white;
  display: inline-block;
}
.arrow-link:hover {
  text-decoration: none;
  color: white;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.arrow-link:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  bottom: 2px;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  content: "";
  background: url(./img/arrow.png) no-repeat center;
  background-size: 100%;

  display: inline-block;
  vertical-align: middle;
}
.arrow-link:hover {
  transform: scaleX(1.1);
}
.projects {
  background-color: var(--main-bg);
}
.projects .card {
  background-color: var(--light-bg);
  padding: 10px;
  margin-bottom: 20px;
}

.projects .card-title {
  font-weight: 400;
}

.projects .card-text {
  font-weight: 200;
  text-align: justify;
}

.projects:before {
  display: flex;
  content: "";
  position: absolute;
  width: 90%;
  height: 12rem;
  background-image: radial-gradient(var(--hover-color) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0;
  opacity: 0.08;
  z-index: 0;
}

.projects h3 {
  text-decoration: underline;
  font-weight: 700;
  font-size: 50px;
}
.projects .card-title a,
.projects span {
  font-weight: 400;
  border-radius: 40px;
  text-decoration: none;
  background-color: var(--main-bg);
}

.projects a {
  font-size: 14px;
  margin-left: 10px;
  color: seagreen;
  padding: 5px 20px 5px 20px;
}

.projects span {
  font-size: 12px;
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 15px 5px 15px;
}
.projects .portfolio-web,
.projects .portfolio-design {
  font-size: 14px;
  margin-left: 5px;
  color: rgba(255, 255, 255, 1);
  padding: 10px 30px 10px 30px;
  font-weight: 400;
  border-radius: 40px;
  text-decoration: none;
  cursor: pointer;
}

.projects .make-green-bg {
  background-color: rgba(80, 165, 144, 0.2);
}

.projects .make-gray-bg {
  background-color: var(--light-bg);
}

.portfolio-design-block {
  display: none;
}

/*contact*/
.contact {
  background-color: var(--accent-light);
  padding: 20px 0 30px 0;
}
.email-icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  max-width: 100%;
  font-size: 55px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 10px;
}
.contact a {
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: 15px 50px 15px 50px;
  background-color: var(--main-bg);
  border-radius: 40px;
}

.footer {
  background-color: var(--main-bg);
  color: #fff;

  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 576px) {
  body {
    overflow-x: hidden !important;
  }
  .toast {
    left: 0px;
    bottom: 0px;
    margin: 5px;
  }

  .navbar li {
    margin-top: 10px;
  }

  .name {
    font-size: 15px;
    font-weight: 700;
  }

  .profession {
    font-size: 15px;
    font-weight: 300;
  }

  /*Socials*/
  .socials {
    width: 90%;
  }

  /*header*/
  .deform-one {
    transform: rotate(-22deg) translateY(-80%);
    margin-bottom: -20%;
    right: -40%;
  }

  .deform-two {
    width: 100%;
    height: 40%;
    transform: rotate(-70deg) translate(40%, -50%) scale(1.8);
  }
}
@media (min-width: 992px) {
  .skills {
    padding: 100px 0px 50px 0px;
  }
}
/* @media (max-width: 768px) {
  .projects .cards {
    padding: 0;
  }
  .projects .cards-body {
    margin-top: 10px;
  }
} */

footer h3 {
  font-weight: 300;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.social-buttons li a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background: #333;
  /*border-radius: 50%;*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 480px) {
  ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 340px) {
  ul.social-buttons li a {
    width: 37px;
    height: 37px;
  }
}

ul.social-buttons li a:hover,
ul.social-buttons li a:active {
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.list-inline > li {
  padding: 0px !important;
}

#facebook:hover {
  background-color: #3b5998;
}

#twitter:hover {
  background-color: #55acee;
}

#instagram:hover {
  background-color: #3f729b;
}

#codepen:hover {
  background-color: #fff;
  color: #000;
}

#linkedin:hover {
  background-color: #0077b5;
}

#github:hover {
  background-color: #4183c4;
}

#pinterest:hover {
  background-color: #cc2127;
}

#spotify:hover {
  background-color: #2ebd59;
}

#to-top {
  transition: all 0.5s;
}

#to-top:hover {
  color: #fff;
  text-decoration: none;
}

#to-top img {
  width: 50px;
  padding: 5px;
  margin: 10px auto 0px;
}

#to-top-copy {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin: 0 auto;
  opacity: 0;
}
#to-top-copy:hover {
  opacity: 1;
}

.copyright {
  font-weight: 300;
  color: #aaa;
}

.copyright p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  #to-top {
    margin-top: 0px;
  }
  .copyright {
    padding-top: 0px;
    margin-top: 0px;
  }
}
