* {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 0;
  font-weight: 400;
  color: white;
}

body,
html {
  overflow-x: hidden !important;
  box-sizing: border-box;
}

:root {
  --main-color: #6a6f7c;
  --hover-color: #d0d7e3;
  --main-border: 1px solid #191c28;
  --main-bg: #191c28;
  --base-bg: #1e2331;
  --light-bg: #242a3b;
  --accent: #1e2331;
  --accent-light: #242a3b;
  --scpc: var(--hover-color);
  --color-1: var(--hover-color);
}

::selection {
  background-color: var(--light-bg);
  color: white;
}

#portfolio-design {
  display: none;
}

/*Header*/
.header {
  background: radial-gradient(var(--light-bg) 1px, transparent 0),
    radial-gradient(var(--light-bg) 1px, transparent 0),
    linear-gradient(180deg, var(--light-bg) 0%, var(--main-bg) 100%);
  background-size: 40px 40px, 40px 40px, 100%, 100%;
  background-position: 0 0, 20px 20px, center;

  background-color: var(--accent);
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 1.5px,
      transparent 0
    ),
    radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  display: flex;
  z-index: 0;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.make-navbar-bg {
  background-color: var(--base-bg);
  -webkit-box-shadow: 0 20px 25px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 25px -6px rgba(0, 0, 0, 0.3);
}

.deform {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.deform-one {
  background: linear-gradient(68deg, var(--accent-light) 2%, transparent 60%);
  width: 100%;
  height: 60%;
  display: flex;
  border-bottom-left-radius: 12%;
  transform: rotate(-22deg) translateY(-100%);
  position: relative;
  margin-bottom: 20%;
  right: -20%;
  margin: 0;
  padding: 0;
}

.deform-two {
  background: linear-gradient(150deg, transparent 0%, var(--accent-light) 100%);
  width: 100%;
  height: 40%;
  transform: rotate(-42deg) translate(40%, 50%) scale(1.8);
  position: relative;
  margin: 0;
  padding: 0;
}

.header a {
  display: inline;
  text-decoration: none;
}
.header button {
  outline: none;
}
.navbar a {
  font-weight: 400;
  color: white;
  margin: 10px 10px;
}

/* profile */

p {
  color: white;
}
.name {
  font-size: 30px;
  font-weight: 700;
}

.profession {
  font-size: 20px;
  font-weight: 300;
}
#spin {
  color: white;
  font-size: 16px;
}

#spin:after {
  content: "";
  animation: spin 20s linear infinite;
}
@keyframes spin {
  0% {
    content: "Bonjour,";
  }

  10% {
    content: "Hi,";
  }

  20% {
    content: " नमस्ते ,";
  }

  30% {
    content: "Hola,";
  }

  40% {
    content: "你好,";
  }

  50% {
    content: "Здравей,";
  }

  60% {
    content: "Привет,";
  }

  70% {
    content: "Ciao,";
  }

  80% {
    content: "こんにちは,";
  }

  90% {
    content: "Oi,";
  }
  100% {
    content: "سلام";
  }
}

.socials {
  width: 55%;
  height: auto;
  margin: 0 auto;
  background: var(--main-bg);
  border-radius: 5px;
  margin-bottom: 1rem;
  z-index: 2;
  border-radius: 5px;
  -webkit-box-shadow: 0 80px 100px -24px rgba(0, 0, 0, 0.45);
  box-shadow: 0 80px 100px -24px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.socials::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 40px;
  position: absolute;
  top: 26px;
  left: 30px;
  background: #ff5f56;
  box-shadow: 16px 0px 0px #ffbd2e, 32px 0px 0px #27c93f;
}

.socials i {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.socials .icon-social {
  padding: 30px;
  border-radius: 5px;
}

.socials .icon-social:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden !important;
  }
  .toast {
    left: 0px;
    bottom: 0px;
    margin: 5px;
  }

  .navbar li {
    margin-top: 10px;
  }

  .name {
    font-size: 15px;
    font-weight: 700;
  }

  .profession {
    font-size: 15px;
    font-weight: 300;
  }

  /*Socials*/
  .socials {
    width: 90%;
  }

  /*header*/
  .deform-one {
    transform: rotate(-22deg) translateY(-80%);
    margin-bottom: -20%;
    right: -40%;
  }

  .deform-two {
    width: 100%;
    height: 40%;
    transform: rotate(-70deg) translate(40%, -50%) scale(1.8);
  }
}

.about {
  background-color: var(--main-bg);
  height: auto;
  width: 100%;
  z-index: 1;
}
.about:before {
  display: flex;
  content: "";
  position: absolute;
  width: 45%;
  height: 12rem;
  background-image: radial-gradient(var(--hover-color) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0;
  opacity: 0.08;
  z-index: 1;
}

.about h1 {
  color: white;
  text-decoration: underline;
  font-weight: 700;
  font-size: 50px;
  margin-top: calc(100%-50%);
}
.about p {
  text-align: justify;
  padding: 20px;
  font-weight: 200;
  font-size: 16px;
}

.about h1:before {
  content: "";
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  top: -5px;
  left: 30%;
  background: #ff5f56;
}
.about .about-contact i,
.about .about-contact p {
  font-weight: 200;
  font-size: 13px;
}

.about .about-contact i {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 5px;
}
.about-section {
  background: var(--main-bg);
  border-radius: 5px;
  margin-bottom: 1rem;
  z-index: 2;
  border-radius: 5px;
  -webkit-box-shadow: 0 80px 100px -24px rgba(0, 0, 0, 0.45);
  box-shadow: 0 80px 100px -24px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
